.idea/
.DS_Store
dati/*.log
dati/*.txt
dati/utenti_*.php
dati/tornei.php
dati/hash.php
dati/sondaggio.php
dati/squadra_*
dati/*.csv
dati/_stats
dati/cache/
dati/messaggi/*.php
dati/2021/*.txt
dati/copia/*.zip
dati/giornata*
immagini/loghi/
inc/ajax-chat/php/data.txt

/vendor/
cache/data/*
cache/feed/*
logs/*
