@import "fonts.css";

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Lato", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    min-height: 100vh;
    overflow-x: hidden;
}

a,
a:link,
a:hover,
a:visited {
    color: #6c757d;
}

nav a,
nav a:link,
nav a:hover,
nav a:visited {
    color: #f8f9fa;
}

footer.footer {
    padding: 3rem 0;
    max-width: 100%;
    overflow-x: hidden;
}

footer.footer ul.list-group .list-group-item {
    background-color: transparent;
    border: none;
    color: #ffffff;
}

footer.footer a {
    color: #6c757d;
}

.side-navbar .nav-link:active,
.side-navbar .nav-link:focus,
.side-navbar .nav-link:hover {
    background-color: #21252910;
}

.side-navbar.bg-dark .nav-link:active,
.side-navbar.bg-dark .nav-link:focus,
.side-navbar.bg-dark .nav-link:hover {
    background-color: #ffffff26;
}

.card, .alert {
    border-radius: 0;
}

.menu-title {
    letter-spacing: 10px;
}

aside#a_menu .nav-item:hover {
    background-color: rgba(255, 255, 255, .1);
}

#sidebar-wrapper {
    width: 270px;
}

#sidebar-wrapper.collapse {
    width: 270px;
}

#sidebar-wrapper .sidebar-nav li a:hover {
    background: rgba(255, 255, 255, 0.2);
    border-left: 1px solid #ffffff;
}

#page-content-wrapper {
    width: 100%;
    padding: 2rem 1rem;
}


/** Datetime picker **/
.xdsoft_datetimepicker .xdsoft_timepicker {
    width: 80px;
}

.xdsoft_datetimepicker .xdsoft_datepicker {
    width: 300px;
}

.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_prev,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_next {
    margin-left: 25px;
}
/** /Datetime picker/ **/

tbody.collapse.in {
    display: table-row-group;
}

@media (max-width: 767px) {
    #page-content-wrapper {
        padding: 2rem 0;
    }

    #sidebar-wrapper {
        width: 100%;
    }

    .xdsoft_datetimepicker .xdsoft_timepicker {
        width: 50px;
    }

    .xdsoft_datetimepicker .xdsoft_datepicker {
        width: 250px;
    }
}

/*
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow: hidden;
}

#wrapper.toggled {
    padding-left: 250px;
    overflow: hidden;
}

#sidebar-wrapper {
    z-index: 1000;
    position: absolute;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    padding: 0;
    list-style: none;
    margin: 2px 0 0;
}

.sidebar-nav li {
    text-indent: 15px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
    border-left: #105050 2px solid;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

.menu-title {
    letter-spacing: 10px;
}

aside#a_menu .nav-item:hover {
    background-color: rgba(255, 255, 255, .1);
}

@media (min-width: 768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #wrapper.toggled #sidebar-wrapper:hover {
        width: 250px;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
        padding-left: 250px;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
        margin-left: -200px;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        width: auto;
    }
}
*/
